<%- include("../partials/header") %>

<div class="container my-5 text-center px-5">
    <h1>
        Add new comment to: 
        <%= campground.name %>
    </h1>
    <img src="<%= campground.image%>" alt="image" class="img-fluid">
    <form action="/campgrounds/<%=campground._id%>/comments" method="POST" class="mt-5">
        <div class="form-group">
            <input class="form-control" name="comment[text]" type="text" placeholder="comment">
        </div>
        <button type="submit" class="btn btn-warning">Add Comment!</button>
        <a href="/campgrounds/<%=campground._id%>/" class="btn btn-info">Go Back</a>
    </form>
</div>

<%- include("../partials/footer") %>