<%- include("../partials/header") %>
<div class="container my-5">
    <div class="mb-5">
        <h1 class="mb-3 text-center"><%= campground.name %></h1>
        <img src="<%= campground.image %>" class="img-fluid" alt="camp image">
        <p class="my-2 text-center">
            <h4 class="d-inline text-center">Description - </h4>
            <%- campground.desc %>
            <p>
                <span class="float-right">
                    <em>
                        ~~Created by <strong> <%= campground.author.username %> </strong>
                    </em>
                </span>
            </p>
        </p>
        <% if( currentUser &&  campground.author.id.equals(currentUser.id)){ %>
        <p class="mt-4">
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning">Edit Campground</a>
        </p>
        <% } %>
    </div>

    <hr>
    
    <p class="mt-md-4">
        <div class="mb-3">
            <h4 class="d-inline">Comments:</h4>
            <span class="float-right">
                <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-sm btn-success">Add Comment</a>
            </span>
        </div>
        <% campground.comments.forEach(function(comment){ %>
        <li class="py-1 px-2 ml-5 mb-4 border">
            <!-- <p> -->
                <%= comment.text %>
                <span class="ml-3">
                    <strong>
                        <em>
                            ~~<%= comment.author.username %>
                        </em>
                    </strong>
                </span>
                <% if( currentUser &&  comment.author.id.equals(currentUser.id)){ %>
                <form action="/campgrounds/<%= campground._id %>/comments/<%=comment._id %>?_method=DELETE" class="pt-2"
                    method="POST">
                    <button class="btn btn-sm btn-danger" type="submit">
                        Delete
                    </button>
                    <a href="/campgrounds/<%= campground._id %>/comments/<%=comment._id %>/edit" class="btn btn-sm btn-warning">
                        Edit
                    </a>
                </form>
                <% } %>
            <!-- </p> -->
        </li>
        <% }); %>
    </p>
</div>

<%- include("../partials/footer") %>